<div class="ii gt" id=":f8"
     jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTc2NzQwNjY1MDQzNzE0Mjk0NyIsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsW11d; 4:WyIjbXNnLWY6MTc2NzQwNjY1MDQzNzE0Mjk0NyIsbnVsbCxbXV0.">
    <div class="a3s aiL msg-3560375361298100227" id=":f7"><u></u>
        <div alink="##B5E941" bgcolor="#F4F2EF" class="m_-3560375361298100227body" link="#B5E941" style="padding:0px 10px 10px 10px;margin:0px;background-color:#f4f2ef;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;line-height:20px"
             vlink="#B5E941">

            <div style="width:100%;padding:0px;margin:0px;background-color:#f4f2ef">
                <table align="center"
                       border="0" cellpadding="0" cellspacing="0" style="border:0px;border-collapse:collapse;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px">

                    <tbody>
                    <tr style="width:100%">
                        <td width="590">
                            <div style="max-width:590px;margin:auto">
                                <table border="0" cellpadding="0" cellspacing="0"
                                       style="width:100%;border:0px;border-collapse:collapse">
                                    <tbody>
                                    <tr style="width:100%">
                                        <td style="width:100%;background-color:#ffffff;border-top:5px solid #b5e941;padding:20px 24px 15px 24px">
                                            <a data-saferedirecturl="https://www.google.com/url?q=https://www.kleinanzeigen.de?utm_source%3Demail%26utm_medium%3Dsystem_email%26utm_campaign%3DUserRegistration%26utm_content%3DLogo&amp;source=gmail&amp;ust=1685648894977000&amp;usg=AOvVaw3K2n-uGEAA-Tu8LdjfwV4r"
                                               href="https://www.kleinanzeigen.de?utm_source=email&amp;utm_medium=system_email&amp;utm_campaign=UserRegistration&amp;utm_content=Logo"
                                               style="display:inline-block;max-width:100%"
                                               target="_blank">
                                                <img alt="Kleinanzeigen"
                                                     border="0" class="CToWUd" data-bit="iit" height="40"
                                                     src="https://static.kleinanzeigen.de/static/img/common/logo/logo-kleinanzeigen-402x80.png"
                                                     width="201">
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table border="0" cellpadding="0" cellspacing="0"
                                       style="width:100%;border:0px;border-collapse:collapse;height:10px">
                                    <tbody>
                                    <tr style="width:100%;height:10px">
                                        <td style="width:100%">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>


                                <table border="0" cellpadding="0" cellspacing="0"
                                       style="width:100%;border:0px;border-collapse:collapse">
                                    <tbody>


                                    <tr style="width:100%;background-color:#ffffff">

                                        <td align="center" style="padding:20px 24px 20px 24px;width:100%">
                                            <font face="'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                <h2 style="padding:0;Margin:0"><h1
                                                        style="Margin:0;line-height:31px;mso-line-height-rule:exactly;font-family:prompt, sans-serif;font-size:26px;font-style:normal;font-weight:normal;color:#8dc619">
                                                    Verkaufsbestätigung ist erforderlich!</h2>

                                            </font>
                                        </td>

                                    </tr>
                                    <tr style="width:100%;background-color:#ffffff">
                                        <td align="center"
                                            style="padding:0;Margin:0;padding-bottom:5px;padding-top:30px">
                                            <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:Sora, Arial, sans-serif;line-height:24px;color:#333333;font-size:16px">
                                                <strong>Der Käufer hat Ihre Ware gebucht und
                                                    bezahlt,<br><br>Gehen Sie auf die Seite für
                                                    den Geldeingang:</strong><br></p></td>
                                    </tr>
                                    </tbody>
                                </table>


                                <table border="0" cellpadding="0"
                                       cellspacing="0"
                                       style="width:100%;border:0px;border-collapse:collapse;background-color:#ffffff">
                                    <tbody>

                                    <tr style="width:100%">
                                        <td style="width:100%;padding:20px 24px 20px 24px;vertical-align:top">
                                            <table border="0"
                                                   cellpadding="0" cellspacing="0"
                                                   style="width:100%;background-color:#ffffff;border:0px;border-collapse:collapse">

                                                <tbody>
                                                <tr style="width:100%">
                                                    <td colspan="2" style="width:100%;padding:1px 0px 0px">
                                                        <center>
                                                            <table style="border:0px;border-collapse:collapse"
                                                                   width="100%">
                                                                <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <table align="center" border="0" cellpadding="0"
                                                                               cellspacing="0"
                                                                               style="margin:0 auto">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td align="center">
                                                                                    <table border="0" cellpadding="0"
                                                                                           cellspacing="0"
                                                                                           style="margin:0 auto">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <td align="center"
                                                                                                bgcolor="#B5E941"
                                                                                                height="44"
                                                                                                style="border-radius:8px"
                                                                                                width="590">
                                                                                                <a class="m_-3560375361298100227cta-button"
                                                                                                   data-saferedirecturl="https://www.google.com/url?q=https://www.kleinanzeigen.de/m-benutzer-verifizieren.html?uuid%3De2013d9d-e273-49be-a1f2-53cdff46a1c9%26targetExperience%3DWEB%26utm_source%3Demail%26utm_medium%3Dsystem_email%26utm_campaign%3Demail-UserRegistration%26utm_content%3DConfirmRegistration&amp;source=gmail&amp;ust=1685648894978000&amp;usg=AOvVaw0wI-cewE8N0gh7t4sAtiQQ"
                                                                                                   href="PutYourLinkHere"
                                                                                                   style="border-radius:8px;padding:8px 0;display:block;text-decoration:none;border:0;text-align:center;font-weight:600;font-size:14px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#1d4b00;background:#b5e941;border:1px solid #b5e941;line-height:26px;width:100%"
                                                                                                   target="_blank">
                                                                                                    <font color="#1D4B00"
                                                                                                          face="'Helvetica Neue', Helvetica, Arial, sans-serif">Klicken
                                                                                                        Sie hier</font>
                                                                                                </a>
                                                                                            </td>

                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td align="center"
                                                                                                style="padding:5px;Margin:0">
                                                                                                <p
                                                                                                        style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:Sora, Arial, sans-serif;line-height:32px;color:#6D645A;font-size:16px">
                                                                                                    Geld für den Verkauf
                                                                                                    sicher erhalten</p>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td align="center"
                                                                                                style="padding:0;Margin:0">
                                                                                                <p
                                                                                                        style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:Sora, Arial, sans-serif;line-height:24px;color:#333333;font-size:16px">
                                                                                                    Order: <strong>OrderNumber</strong><br>
                                                                                                </p>
                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </center>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr style="width:100%;background-color:#ffffff">
                                        <td style="padding:20px 24px 20px 24px;width:100%">
                                            <font face="'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:Sora, Arial, sans-serif;line-height:24px;color:#6D645A;font-size:16px">
                                                    <br>&nbsp; <span style="color:#8dc619">✓</span>&nbsp;
                                                    Zahle einfach und sicher<br>&nbsp; <span
                                                        style="color:#8dc619">✓</span>&nbsp; Schütze
                                                    dich vor Betrug<br>&nbsp; <span
                                                        style="color:#8dc619">✓</span>&nbsp; Handel
                                                    unbesorgt mit Menschen in ganz Deutschland<br>
                                                </p>
                                            </font>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table border="0" cellpadding="0" cellspacing="0"
                                       style="width:100%;border:0px;border-collapse:collapse">
                                    <tbody>
                                    <tr style="width:100%;background-color:#ffffff">
                                        <td style="padding:1px 24px 20px 24px;width:100%">
                                            <font face="'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                <p style="margin:3px 0px 0px 0px">Wir freuen uns, dass du dabei bist.
                                                    <img alt="🤗"
                                                         aria-label="🤗"
                                                         class="an1"
                                                         data-emoji="🤗"
                                                         loading="lazy"
                                                         src="https://fonts.gstatic.com/s/e/notoemoji/15.0/1f917/32.png">
                                                </p>
                                            </font>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table border="0" cellpadding="0" cellspacing="0"
                                       style="width:100%;border:0px;border-collapse:collapse;height:10px">
                                    <tbody>
                                    <tr style="width:100%;height:10px">
                                        <td style="width:100%">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table border="0" cellpadding="0" cellspacing="0"
                                       style="width:100%;border:0px;border-collapse:collapse">
                                    <tbody>
                                    <tr style="width:100%;background-color:#ffffff">
                                        <td style="padding:20px 24px 0px 24px;width:100%">
                                            <font face="'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                <h2 style="font-size:14px;padding:0px;margin:0px">Viel Spaß!</h2>
                                                <p style="margin:3px 0px 0px 0px"></p>
                                            </font>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table border="0" cellpadding="0" cellspacing="0"
                                       style="width:100%;border:0px;border-collapse:collapse">
                                    <tbody>
                                    <tr style="width:100%;background-color:#ffffff">
                                        <td style="padding:20px 24px 20px 24px;width:100%">
                                            <font face="'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                <p style="margin:3px 0px 0px 0px"></p>
                                            </font>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table border="0" cellpadding="0" cellspacing="0"
                                       style="width:100%;border:0px;border-collapse:collapse">
                                    <tbody>
                                    <tr style="width:100%;background-color:#ffffff">
                                        <td style="padding:20px 24px 20px 24px;width:100%">
                                            <font face="'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                <p style="margin:3px 0px 0px 0px">Dein Team von Кleіnanzeіgen</p>
                                            </font>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table border="0" cellpadding="0" cellspacing="0"
                                       style="width:100%;border:0px;border-collapse:collapse;height:10px">
                                    <tbody>
                                    <tr style="width:100%;height:10px">
                                        <td style="width:100%">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table border="0" cellpadding="0" cellspacing="0"
                                       style="width:100%;border:0px;border-collapse:collapse;height:10px">
                                    <tbody>
                                    <tr>
                                        <td align="center" colspan="5" valign="top"><font
                                                color="#77756F" face="'Helvetica Neue', Helvetica, Arial, sans-serif"
                                                style="font-size:12px;line-height:16px"> Solltest du die Registrierung
                                            nicht beauftragt
                                            haben, ignoriere diese E-Mail bitte. Die Registrierung wird dann nicht
                                            bestätigt und die
                                            E-Mail-Adresse später automatisch bei uns gelöscht. <br>
                                            <br>

                                            Bitte beantworte diese E-Mail NICHT per 'Reply' (Antwort-Button in deinem
                                            E-Mail-Programm).
                                            <br><br>
                                            Wenn du Fragen hast, schaue bitte auf
                                            unsere <a
                                                    data-saferedirecturl="https://www.google.com/url?q=https://themen.kleinanzeigen.de/hilfe/?utm_source%3Demail%26utm_medium%3Dsystem_email%26utm_campaign%3DUserRegistration%26utm_content%3DOther&amp;source=gmail&amp;ust=1685648894978000&amp;usg=AOvVaw1yJUWVy_wj-WPC6xhiQJ93"
                                                    href="https://themen.kleinanzeigen.de/hilfe/?utm_source=email&amp;utm_medium=system_email&amp;utm_campaign=UserRegistration&amp;utm_content=Other"
                                                    rel="noopener noreferrer"
                                                    style="text-decoration:underline;color:#77756f" target="_blank"
                                                    title="Hilfeseiten">Hilfeseiten</a>
                                            .<br><br>
                                            Unsere kostenlosen Apps:</font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" height="10">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#F4F2EF" width="260">
                                        </td>
                                        <td bgcolor="#F4F2EF" valign="middle" width="24"><a
                                                data-saferedirecturl="https://www.google.com/url?q=https://play.google.com/store/apps/details?id%3Dcom.ebay.kleinanzeigen&amp;source=gmail&amp;ust=1685648894978000&amp;usg=AOvVaw0yIrr96cI7rjmnOjQwEbo2"
                                                href="https://play.google.com/store/apps/details?id=com.ebay.kleinanzeigen"
                                                rel="noopener noreferrer"
                                                target="_blank">
                                            <img border="0" class="CToWUd" data-bit="iit" hspace="0"
                                                 src="https://ci3.googleusercontent.com/proxy/B7LyroDaAV_flksGhcxDxE9rSGrZNlL9AMrRiYSUC9t4PsQ88svnV2EsZSXArA9EeQoK0uXHcgZszUuDUPQ7Xd__wI6m3RJhO2Yvgw=s0-d-e1-ft#https://static.kleinanzeigen.de/img/mail/icon-android.jpg"
                                                 style="display:block" vspace="0">
                                        </a>
                                        </td>
                                        <td bgcolor="#F4F2EF" width="5">
                                        </td>
                                        <td bgcolor="#F4F2EF" valign="middle" width="24"><a
                                                data-saferedirecturl="https://www.google.com/url?q=https://itunes.apple.com/de/app/ebay-kleinanzeigen/id382596778&amp;source=gmail&amp;ust=1685648894978000&amp;usg=AOvVaw2O430f11NUjUdI1wf05Etn"
                                                href="https://itunes.apple.com/de/app/ebay-kleinanzeigen/id382596778"
                                                rel="noopener noreferrer"
                                                target="_blank">
                                            <img border="0" class="CToWUd" data-bit="iit" hspace="0"
                                                 src="https://ci3.googleusercontent.com/proxy/70tIyWmXXGeI_-ERXN1ha7KOnnFk4HlBsxMcJaLQ-9FE7nPpLb1uZ2Bdr9w4UtSR07Q4_UcydkUhsaMqLAkRYzUVJTKzhU_y=s0-d-e1-ft#https://static.kleinanzeigen.de/img/mail/icon-ios.jpg"
                                                 style="display:block" vspace="0">
                                        </a>
                                        </td>
                                        <td bgcolor="#F4F2EF" width="260">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" height="10">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table border="0" cellpadding="0" cellspacing="0"
                                       style="width:100%;border:0px;border-collapse:collapse;height:10px">
                                    <tbody>
                                    <tr>
                                        <td align="center" colspan="9" valign="top"><font
                                                color="#77756F" face="'Helvetica Neue', Helvetica, Arial, sans-serif"
                                                style="font-size:12px;line-height:16px">Du
                                            findest uns auch bei:</font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" height="10">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#F4F2EF" width="240">
                                        </td>
                                        <td bgcolor="#F4F2EF" valign="middle" width="24"><a
                                                data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/Kleinanzeigen&amp;source=gmail&amp;ust=1685648894978000&amp;usg=AOvVaw1t-Svfoy8beZQ2Fs__lKiR"
                                                href="https://www.facebook.com/Kleinanzeigen"
                                                rel="noopener noreferrer"
                                                target="_blank">
                                            <img border="0" class="CToWUd" data-bit="iit" hspace="0"
                                                 src="https://ci6.googleusercontent.com/proxy/cTZg2js6WQKUOFkciZFyBR3wzQpUwtxCDL_CHUmGdPnM_rSuM-5SbsEcLUiHuyEHljMORwTc3oL5M2hwDGAegb0lLkjhVxLNVFIB8b0=s0-d-e1-ft#https://static.kleinanzeigen.de/img/mail/icon-facebook.jpg"
                                                 style="display:block" vspace="0">
                                        </a>
                                        </td>
                                        <td bgcolor="#F4F2EF" width="5">
                                        </td>
                                        <td bgcolor="#F4F2EF" valign="middle" width="24"><a
                                                data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/kleinanzeigen_o&amp;source=gmail&amp;ust=1685648894978000&amp;usg=AOvVaw2twF4BWCEeo61D5UYH-8NO"
                                                href="https://twitter.com/kleinanzeigen_o"
                                                rel="noopener noreferrer"
                                                target="_blank">
                                            <img border="0" class="CToWUd" data-bit="iit" hspace="0"
                                                 src="https://ci3.googleusercontent.com/proxy/wW6pu7wq5OcSAdreyE2s45Jc6wF3rECEF4Mct_sTH4iITyyqCDlBRmtukAv3swsCsziClU9MFQXb7cHCzzzKCBxP5HTnAh8-KwCvHA=s0-d-e1-ft#https://static.kleinanzeigen.de/img/mail/icon-twitter.jpg"
                                                 style="display:block" vspace="0">
                                        </a>
                                        </td>
                                        <td bgcolor="#F4F2EF" width="5">
                                        </td>
                                        <td bgcolor="#F4F2EF" valign="middle" width="24"><a
                                                data-saferedirecturl="https://www.google.com/url?q=https://www.pinterest.com/eBay_KA/&amp;source=gmail&amp;ust=1685648894978000&amp;usg=AOvVaw0N8nnBzelrMNTdiPg33WCf"
                                                href="https://www.pinterest.com/eBay_KA/"
                                                rel="noopener noreferrer"
                                                target="_blank">
                                            <img border="0" class="CToWUd" data-bit="iit" hspace="0"
                                                 src="https://ci3.googleusercontent.com/proxy/XAaGJLyQjZnsTBwilDkSj_UNAGnUrCFSGPXEdn-cIv3ZW5-ZJWHhHeT8WV6TjzWIDgn5YWsLgPJhd-r9-NIafo_T59dVGwEjsGwuLYmo=s0-d-e1-ft#https://static.kleinanzeigen.de/img/mail/icon-pinterest.jpg"
                                                 style="display:block" vspace="0">
                                        </a>
                                        </td>
                                        <td bgcolor="#F4F2EF" width="240">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table border="0" cellpadding="0" cellspacing="0"
                                       style="width:100%;border:0px;border-collapse:collapse;height:10px">
                                    <tbody>
                                    <tr style="width:100%;height:10px">
                                        <td style="width:100%">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table border="0" cellpadding="0" cellspacing="0"
                                       style="width:100%;border:0px;border-collapse:collapse">
                                    <tbody>
                                    <tr style="width:100%">
                                        <td style="width:100%;text-align:center;font-size:12px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
                                            <p style="color:#77756f;padding:10px;vertical-align:top;margin-bottom:0px">
                                                <font color="#77756F"
                                                      face="'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                    Copyright © 2005-2023 Marktplaats B.V. Alle Rechte
                                                    vorbehalten.<br>
                                                    Ausgewiesene Marken gehören ihren jeweiligen Eigentümern.<br>
                                                    eBay und eBay Logos sind eingetragene Marken der eBay Inc.
                                                </font>
                                            </p>
                                            <p style="color:#b5e941;padding:0 10px;line-height:1.2rem">
                                                <a data-saferedirecturl="https://www.google.com/url?q=https://themen.kleinanzeigen.de/datenschutzerklaerung/?utm_source%3Demail%26utm_medium%3Dsystem_email%26utm_campaign%3DUserRegistration%26utm_content%3DOther&amp;source=gmail&amp;ust=1685648894979000&amp;usg=AOvVaw1rZnv7ed9tCMJ7OHUUGNuT"
                                                   href="https://themen.kleinanzeigen.de/datenschutzerklaerung/?utm_source=email&amp;utm_medium=system_email&amp;utm_campaign=UserRegistration&amp;utm_content=Other"
                                                   rel="noopener noreferrer"
                                                   style="text-decoration:underline;color:#77756f" target="_blank"
                                                   title="Datenschutzerklärung">Datenschutzerklärung</a>

                                                <a data-saferedirecturl="https://www.google.com/url?q=https://themen.kleinanzeigen.de/nutzungsbedingungen/?utm_source%3Demail%26utm_medium%3Dsystem_email%26utm_campaign%3DUserRegistration%26utm_content%3DOther&amp;source=gmail&amp;ust=1685648894979000&amp;usg=AOvVaw0x17ZZTI7k5ViFWNCA2Mn9"
                                                   href="https://themen.kleinanzeigen.de/nutzungsbedingungen/?utm_source=email&amp;utm_medium=system_email&amp;utm_campaign=UserRegistration&amp;utm_content=Other"
                                                   rel="noopener noreferrer"
                                                   style="text-decoration:underline;color:#77756f" target="_blank"
                                                   title="Nutzungsbedingungen">Nutzungsbedingungen</a>

                                                <a data-saferedirecturl="https://www.google.com/url?q=https://themen.kleinanzeigen.de/hilfe/?utm_source%3Demail%26utm_medium%3Dsystem_email%26utm_campaign%3DUserRegistration%26utm_content%3DOther&amp;source=gmail&amp;ust=1685648894979000&amp;usg=AOvVaw3tMi6XhbI5iNLTqlU3hUAA"
                                                   href="https://themen.kleinanzeigen.de/hilfe/?utm_source=email&amp;utm_medium=system_email&amp;utm_campaign=UserRegistration&amp;utm_content=Other"
                                                   rel="noopener noreferrer"
                                                   style="text-decoration:underline;color:#77756f"
                                                   target="_blank"
                                                   title="Hilfe">Hilfe</a>

                                                <a data-saferedirecturl="https://www.google.com/url?q=https://www.kleinanzeigen.de/impressum.html?utm_source%3Demail%26utm_medium%3Dsystem_email%26utm_campaign%3DUserRegistration%26utm_content%3DOther&amp;source=gmail&amp;ust=1685648894979000&amp;usg=AOvVaw2NgLeCQ469scDMr5-SLLZ8"
                                                   href="https://www.kleinanzeigen.de/impressum.html?utm_source=email&amp;utm_medium=system_email&amp;utm_campaign=UserRegistration&amp;utm_content=Other"
                                                   rel="noopener noreferrer"
                                                   style="text-decoration:underline;color:#77756f" target="_blank"
                                                   title="Impressum">Impressum</a>

                                            </p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    </tbody>